*{
    padding: 0px;
    margin: 0px;
}
.title{
    font-size: 25px;
    color: #3A3A3A;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;

}
nav > ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1em;
    /* font-size: 16px; */
    color: #3A3A3A;
}